# ========================
# ENV / SECRETS
# ========================
.env
.env.*
!*.example

# ========================
# GO
# ========================
bin/
dist/
build/
*.exe
*.out
*.test

# ========================
# LOGS
# ========================
*.log
logs/

# ========================
# DOCKER
# ========================
postgres_data
docker-data
*.pid

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
